<form class="form-inline" role="form">
    <div class="form-group">
        <label>{{startLabel}} </label>
        <span class="input-group">
            {{input id="start-picker" value=startDate type="text" class="picker-input form-control col-md-2"}}
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </span>
        <span class="add-on">&nbsp; {{separator}} &nbsp;</span>
        <label>{{endLabel}} </label>
        <span class="input-group">
            {{input id="end-picker" value=endDate type="text" class="picker-input form-control"}}
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </span>
    </div>
</form>